/* General Styles */
body {
   font-family: Arial, sans-serif;
   color: #333;
   margin: 0;
   padding: 0;
   background-color: #92b877;
   display: flex;
}

/* Left-Side Navigation Bar Styling */
#side-navbar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #333;
  width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}

#side-navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#side-navbar ul li {
  margin: 20px 0;
}

#side-navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

#side-navbar ul li a:hover {
  background-color: #ff6347; /* Highlight on hover */
}

/* Main Content Styling */
#content {
  margin-left: 160px; /* To leave space for the side navbar */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Center content vertically */
}

/* Centered Text Content and Right-Aligned Image */
.text-content {
  max-width: 600px;
  text-align: center;
  flex: 1; /* Take up remaining space on the left */
}

/* Portfolio Section Styling */
#portfolio {
   margin-top: 20px;
 }
 
 #portfolio .gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   gap: 10px;
 }

.chef-image {
  max-width: 300px; /* Adjust width as needed */
  flex-shrink: 0; /* Prevents the image from resizing */
  margin-left: 20px; /* Space between text and image */
}

.chef-image img {
  width: 100%;
  border-radius: 10px; /* Optional: Adds rounded corners */
}

